[submodule "nusa-pelican-flex"]
	path = nusa-pelican-flex
	url = https://github.com/aysf/Flex.git
[submodule "pelican-jojo"]
	path = pelican-jojo
	url = https://github.com/aysf/jojo.git
[submodule "brutalist"]
	path = brutalist
	url = https://github.com/aysf/brutalist.git
